div.fixed-quote {
    position: fixed;
    top: 65px;
    margin-left: 10px;
}

.responsive-quote {
    font-size: 1.25vw;
}

.intro-header-no-bg {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover !important;
}

img.product-thumbnail {
    cursor: pointer;
    max-height: 19vh;
    width: auto;
}

div.product-images {
    height: 25vh;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
    padding: 10px;
}
.top {
    z-index: 999;
}
.quote-btn{
    background-color: #408F92;
    color: #f5f5f5;
    border: 2px solid rgba(0,0,0,0.5);
}
.quote-btn:hover{
    color: solid ;
    background-color: #408F92;
}

html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100% !important;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.navbar-brand {
    padding-top: 0;
    margin: 0;
}
.navbar-brand img{
    max-height: 125%;
}

.contact-cont{
    padding-top: 50px;
}
.content-section-c{
    padding-bottom: 50px;
    padding-top: 50px;
}
.brand-logo{
    padding-top: 4px;
}
